<%= form_for(@crumb) do |f| %>
  <% if @crumb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crumb.errors.count, "error") %> prohibited this crumb from being saved:</h2>

      <ul>
      <% @crumb.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :url, autofocus: true %>
  </div>
<% end %>


<p id="notice"><%= notice %></p>

<div class="crumbs">
  <% @crumbs.each do |crumb|  %>
  <article class="crumb">
    <div class="link">
      <%= link_to crumb.url, crumb.url, target: '_blank' %>
    </div>
    <div class="info">
      <span class="created">
        <%= crumb.created_at.strftime("%h %e") %>
      </span>
      <span class='delete'>
        <%= link_to 'Destroy', crumb, method: :delete, data: { confirm: 'Are you sure?' } %>
      </span>
    </div>
  </article>
  <% end %>
</div>
